form.webform-submission-can-you-help-lalg--form {
	font-size: 1.3em;
	border-radius: 5px;
    background-color: #f2f2f2;
	padding: 10px 30px 30px 30px;
    margin-top: 20px;		
}
form.webform-submission-can-you-help-lalg--form h1.js-quickedit-page-title::after {
    content: "We always need people to help LALG - don’t worry, you wouldn’t be left on your own, and you’d get plenty of help from the team.";
    display: block;
    font-size: 16px;
    margin-top: 15px;
}
form.webform-submission-can-you-help-lalg--form div.form-item-is-there-any-other-way-you-d-like-to-help- {
	padding-top: 40px;
}
form.webform-submission-can-you-help-lalg--form div.lalg-webform-markup-contact-details {
	padding-top: 40px;
}
form.webform-submission-can-you-help-lalg--form div.form-item-name label,
form.webform-submission-can-you-help-lalg--form div.form-item-phone-number- label,
form.webform-submission-can-you-help-lalg--form div.form-item-email- label {
	width: 160px;
}
form.webform-submission-can-you-help-lalg--form input.webform-button--submit {
    margin-top: 20px;
    color: white;
    width: 100%;
	max-width: 600px;
    background-color: #04AA6D !important;
    background-image: none;
	padding: 16px 0px;
    border-radius: 5px;
}

form div.lalg-webform-edi legend {border-bottom: none;}
form div.lalg-webform-edi section {
    border: 1px solid gray;
    padding: 0 10px;
    margin-bottom: 30px !important;
}
form div.lalg-webform-edi textarea,
form div.lalg-webform-edi input[type="text"]   {max-width: 100%;}
form div.lalg-webform-edi section div.js-form-item:hover {background-color: #ececec;}
form.webform-submission-edi-survey-2024v2-form input[type="submit"] {
    background-color: green !important;
    background-image: none;
    color: white;
}
form.webform-submission-lalg-diversity-equality-and-incl-form input[type="submit"]:hover {
    background-color: #008000c9 !important;
    background-image: none;
	color: white;
}

/*  remove the red for display name fields
form.webform-submission-user-contact-details-form label.form-displayname,
form.webform-submission-user-contact-details-form label.form-contact-details-for-display {color: red;}

form.webform-submission-administer-contact-details-form label.form-displayname,
form.webform-submission-administer-contact-details-form label.form-contact-details-for-display {color: red;}
*/


fieldset.lalg-fieldset-for-group-contacts-only
   {border: 1px solid gray;  margin: 25px 0; padding-left: 20px;}
 
fieldset.lalg-fieldset-for-group-contacts-only legend
    {font-size: 18px; border-bottom: none; margin-bottom: 0; width: inherit;}

fieldset.lalg-fieldset-for-group-contacts-only legend span.fieldset-legend  
   {padding: 0 10px;}
