/* lalg.css
 *
 * Authored by MJH, CMW, TJS
 * 23/06/2021
 *
 * For css changes that affect every page. Primarily the header and layout changes.
 * Might need to seperate certain layout changes to make better use of the weighting system.
 */

/* General sitewide changes. */

h1, h2, p, a {font-family: verdana;}
h2 {font-size: 2.2em;}
p, time {font-size: 1.3em; line-height: 135%;}
.region-sidebar-first .views-row a {font-size: 1.3em; }
img {object-fit: cover;}

/* tables */
table {
    width: 100%;
}
table, td, th {
    border: 1px solid black;
    padding: 4px 8px;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
th {
    padding: 10px 0px;
    text-align: center;
    background-color: #303030;
}

/* Expand potential width to handle wide monitors. */
.container { 
  max-width: 2000px;
}
/* otherwise the display is narrow on wide moniters */
@media (min-width: 1590px) {
.container {width: 1540px;}
}
@media (min-width: 1910px) {
.container {width: 1820px;}
}



.block {
  margin-bottom: 2px;
}

.main-header {
  background: url(../images/bg-header.png);
}

/* Align brand logo with menu and image */
.brand.logo {margin-left: 15px;}

/* Correct line height for text next to logo */
.region-header .brand {
    line-height: 300%;
}

/* Text after logo is right on edge of screen when on separate line */
.site-branding__name {padding-left: 15px;}

/* line up welcome message on right hand side of header */
.main-header > .container > .row > .header-row {margin-right: 15px;}


/* Menu bar - background colour all way across */
ul.sf-menu.sf-style-blue {
    width: 100%;
    background-color: #095cb1;
}

/* get rid of blue line below the main menu */
.navbar-default {border-bottom: none;}

/* get rid of shadow below main header */
.main-header {box-shadow: none;}

.block-views-blockcurrent-user-block-current-user {
  float: right;
  margin-left: 15px;
}

.site-branding {
  display: inline;
}

.site-branding__name {
  padding-top: 15px;
}

.site-branding__name a {
  font-size: 4rem;
  color: #13a6d2;
}

@media (max-width: 766px) { 
.site-branding__name a {
  font-size: 3rem; }
}

#block-searchform {
  width: 30%;
  float: right;
}
#block-searchform input {
  padding: 1px;
  font-size: 16px;
  font-weight: normal;
}
#block-searchform #edit-actions {
  width: 25px;
}
#block-searchform #edit-actions input {
  background-image: url(../images/ico-search.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: white;
  color: transparent;
  background-position: center;
}

#block-views-block-editorsnotes-block-1,
#block-views-block-editor-s-notes-block-1-2 {  /*Editors Notes*/
  font-size: 1.2vw;
  padding: 1vw;
  display: inline-block;
  float: right;
  width: 50%;
  background: yellow;
}

/* Menu starts here */

/* Fix error in z-index that puts menu behind the slideshow pictures */
.main-header .region {
  z-index: 200;
  margin-top: 2px;
}

ul.sf-menu {
  margin-bottom: 0px;
  line-height: inherit;
}
ul.sf-menu a {
  font-size: 16px;
}

/* Slideshow starts here */
@media (min-width: 1920px) { /* Actual image width is 1920px so nothing is gained from going higher. */
  .slideshow {
    width: 1920px;
  }
}

/* Slideshow and image height */
.views_slideshow_cycle_teaser_section {height: calc(50vh + 2em);}
.views_slideshow_cycle_teaser_section img {height: 50vh;}
@media (max-width: 766px) { 
   .views_slideshow_cycle_teaser_section {height: calc(25vh + 2em);}
   .views_slideshow_cycle_teaser_section img {height: 25vh;}
}

/* sidebars */
.sidebar > .col-md-3 {
	background-color: #1da9d31c;
	padding-bottom: 1.2em;
}
/* Coming shortly on home page - separate rows a little */
.region-sidebar-first .views-row {padding-bottom: 1em;}

/* bring main content up to top */
.content_layout > .col-md-6 {margin-top: -20px;}

/* Break out below into seperate files */

/* Front page content */
/* Fix width overlapping right sidebar */
article.node--type-article,
article.node--type-event {
  width: auto;
}

/* A to Z specfic content */
.az-row-group .views-field-view-node a.atoz-link::before {
  content: "";
}
.az-row-group .views-field-view-node a.atoz-link {
  padding-left: 0px;
}

/* FullCalendar  */
.lalg-block-fullcalendarlegend li {display: inline-block; text-align:center; padding:.5em; margin-bottom: .5em; min-width: 130px;}
@media (max-width: 600px) {
   .lalg-block-fullcalendarlegend li {min-width: fit-content;}
}

.fc-widget-header {background-color: transparent;}
.fc-day-top {text-align: center;}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {float: none;}
td.fc-day-top {padding: 0.5em;}
/* allow text to go on multiple lines */
.fc-day-grid-event .fc-content {white-space: normal;}
.fc-event {color: #000000;  }
.fc-event:hover {color: #820824;  }
/* Remove dark grey areas */
.fc-content-skeleton tr:nth-child(even) {background-color: transparent;}
.fc-content-skeleton {font-size: 1.4em;}
.fc-content-skeleton > table > thead > tr {background-color: #2c3e50;}
.fc-day-number {color: white;}
.fc-row {margin-top: 2em; }
td.fc-event-container {padding-bottom: 0.2em; padding-top: 0.2em;}
.fc-day-grid-event .fc-time {font-weight: 400;}
a.fc-day-grid-event  {font-weight: 400;}
