/* FullCalendar  */
.lalg-block-fullcalendarlegend li {display: inline-block; text-align:center; padding:.5em; margin-bottom: .5em; min-width: 130px;}
@media (max-width: 600px) {
   .lalg-block-fullcalendarlegend li {min-width: fit-content;}
}
th.fc-day-header>span {color: black;}
.fc-widget-header {background-color: transparent;}
.fc-day-top {text-align: center;}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {float: none;}
td.fc-day-top {padding: 0.5em;}
/* allow text to go on multiple lines */
.fc-day-grid-event .fc-content {white-space: normal;}
.fc-event {color: #000000;  }
.fc-event:hover {color: #820824;  }
/* Remove dark grey areas */
.fc-content-skeleton tr:nth-child(even) {background-color: transparent;}
.fc-content-skeleton {font-size: 1.0em;}
.fc-content-skeleton > table > thead > tr {background-color: #2c3e50;}
.fc-day-number {color: white;}
.fc-row {margin-top: .7em; margin-bottom: .7em;}
td.fc-event-container {padding-bottom: 0.2em; padding-top: 0.2em;}
.fc-day-grid-event .fc-time {font-weight: 400;}
a.fc-day-grid-event  {font-weight: 400;}

/* Calendar - No easy way to get rid of the month button when setting up the view */
div.lalg-fullcalendar div.fc-right > button  {display: none;}
@media (min-width: 767px) {
   div.lalg-fullcalendar div.fc-center   {padding-right: 126px;}
}
/* Calendar - Stop the footer taking up so much room especially on a mobile */
.fc-day-grid-container {height: auto !important;}

/* Group Search */
.lalg-view-group-search .views-exposed-form {
  display: table;
  margin-bottom: 15px;
}

.lalg-view-group-search .form-item-group-search label {
  display: none;
}

.lalg-view-group-search div.form-item,
.lalg-view-group-search div.form-actions {
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-right: 0;
}

.lalg-view-group-search .captcha-admin-links {
  position: absolute;
  right: 10px;
}

.lalg-view-group-search .views-row {
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.lalg-view-group-search div.form-actions:after,
.lalg-view-group-search .views-row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* A to Z specfic content */
.az-row-group .views-field-view-node a.atoz-link::before {
  content: "";
}
.az-row-group .views-field-view-node a.atoz-link {
  padding-left: 0px;
}

/* Group links page */
@media (min-width: 900px) {
   div.lalg-view-group-list {column-count: 3;}
}
@media (min-width: 1250px) {
   div.lalg-view-group-list {column-count: 4;}
}

/* Keywords */
.lalg-tags-title {text-decoration: underline;}
li.lalg-tags-li {
   border: 1px dotted #dadada;
   display: inline-block;
   padding: 1px 10px;
}

/* Group Display Block */
div.block-group,
.block-views-blockgroup-display-lalg-article-jump,
.block-views-blockgroup-display-block-1,
.block-views-blockcontact-details-block-1 h2,
.block-views-blockgroup-display-block-2,
.block-views-blockgroup-membership-block-1,
.block-views-blockadd-content-block-1 {
  clear:both;
}

/* Group Display Block Heading */
div.block-group h2,
.block-views-blockgroup-display-lalg-article-jump h2,
.block-views-blockgroup-display-block-1 h2,
.block-views-blockcontact-details-block-1 h2,
.block-views-blockgroup-display-block-2 h2,
.block-views-blockgroup-membership-block-1 h2,
.block-views-blockadd-content-block-1 h2 {
   color: white;
   background-color: #0a8ebd;
   padding: 6px;
   padding-left: 16px;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
}

/* Group Icon */
.lalg-group-icon img {
  float: left;
  margin-right: 10px;
}

/* Group Display Article Links */
div.block-views-blockgroup-display-block-1 div.views-field-title a {
  font-size: 1.4em;
}

.lalg-view-group-articles .views-row {
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.lalg-view-group-articles .views-row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div.lalg-tags {
  padding-top: 20px;
}

/* Group Events Block */
.lalg-view-group-events ul.js-pager__items {
  list-style: none;
}

.lalg-view-group-events ul.js-pager__items li {
   float: left;
   margin: 3px;
}

/* Create Content Block */
.group-content-create-links {
  list-style: none;
  line-height: 150%;
}

/* Articles */
.lalg-gallery-images .lalg-gallery-image {
  display: inline;
}

/* Group Member Tab */
.groups-group-members tbody .views-field-dropbutton,
.groups-group-members tbody .views-field-dropbutton div {
  background-color: inherit;
}

.views-field-group-roles ul {
  list-style-type: none;
}

.block-local-actions-block {
  margin-top: 10px;
  list-style-type: none;
}
