/* FullCalendar  */
.lalg-block-fullcalendarlegend li {display: inline-block; text-align:center; padding:.5em; margin-bottom: .5em; min-width: 130px;}
@media (max-width: 600px) {
   .lalg-block-fullcalendarlegend li {min-width: fit-content;}
}
th.fc-day-header>span {color: black;}
.fc-widget-header {background-color: transparent;}
.fc-day-top {text-align: center;}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {float: none;}
td.fc-day-top {padding: 0.5em;}
/* allow text to go on multiple lines */
.fc-day-grid-event .fc-content {white-space: normal;}
.fc-event {color: #000000;  }
.fc-event:hover {color: #820824;  }
/* Remove dark grey areas */
.fc-content-skeleton tr:nth-child(even) {background-color: transparent;}
.fc-content-skeleton {font-size: 1.0em;}
.fc-content-skeleton > table > thead > tr {background-color: #2c3e50;}
.fc-day-number {color: white;}
.fc-row {margin-top: .7em; margin-bottom: .7em;}
td.fc-event-container {padding-bottom: 0.2em; padding-top: 0.2em;}
.fc-day-grid-event .fc-time {font-weight: 400;}
a.fc-day-grid-event  {font-weight: 400;}

/* Calendar - No easy way to get rid of the month button when setting up the view */
div.lalg-fullcalendar div.fc-right > button  {display: none;}
@media (min-width: 767px) {
   div.lalg-fullcalendar div.fc-center   {padding-right: 126px;}
}
/* Calendar - Stop the footer taking up so much room especially on a mobile */
.fc-day-grid-container {height: auto !important;}

/* Calendar (Not FullCalendar) */
.calendar-calendar td a { font-size: 100%; line-height: 100%; }

/* Group Search */
.lalg-view-group-search .views-exposed-form {
  display: table;
  margin-bottom: 15px;
}

.lalg-view-group-search .form-item-group-search label {
  display: none;
}

.lalg-view-group-search div.form-item,
.lalg-view-group-search div.form-actions {
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-right: 0;
}

.lalg-view-group-search .captcha-admin-links {
  position: absolute;
  right: 10px;
}

.lalg-view-group-search .views-row {
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.lalg-view-group-search div.form-actions:after,
.lalg-view-group-search .views-row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* A to Z specfic content */
.az-row-group .views-field-view-node a.atoz-link::before {
  content: "";
}
.az-row-group .views-field-view-node a.atoz-link {
  padding-left: 0px;
}

/* Group links page */
@media (min-width: 900px) {
   div.lalg-view-group-list {column-count: 3;}
}
@media (min-width: 1250px) {
   div.lalg-view-group-list {column-count: 4;}
}

/* Keywords */
.lalg-tags-title {text-decoration: underline;}
li.lalg-tags-li {
   border: 1px dotted #dadada;
   display: inline-block;
   padding: 1px 10px;
}

/* Group Display Block */
div.block-group,
.block-views-blockgroup-display-lalg-article-jump,
.block-views-blockgroup-display-block-1,
.block-views-blockcontact-details-block-1 h2,
.block-views-blockgroup-display-block-2,
.block-views-blockgroup-membership-block-1,
.block-views-blockadd-content-block-1 {
  clear:both;
}

/* Group Display Block Heading */
div.block-group h2,
.block-views-blockgroup-display-lalg-article-jump h2,
.block-views-blockgroup-display-block-1 h2,
.block-views-blockcontact-details-block-1 h2,
.block-views-blockgroup-display-block-2 h2,
.block-views-blockgroup-membership-block-1 h2,
.block-views-blockadd-content-block-1 h2 {
   color: white;
   background-color: #0a8ebd;
   padding: 6px;
   padding-left: 16px;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
}

/* Group Icon */
.lalg-group-icon img {
  float: left;
  margin-right: 10px;
}

/* Group Display Article Links */
div.block-views-blockgroup-display-block-1 div.views-field-title a {
  font-size: 1.4em;
}

.lalg-view-group-articles .views-row {
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.lalg-view-group-articles .views-row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div.lalg-tags {
  padding-top: 20px;
}

/* Group Events Block */
div.lalg-view-group-events {
  margin-bottom: 6px;
}

.lalg-view-group-events ul.js-pager__items {
  list-style: none;
}

.lalg-view-group-events ul.js-pager__items li {
   float: left;
   margin: 3px;
}

/* Create Content Block */
.group-content-create-links {
  list-style: none;
  line-height: 150%;
}

/* Contact details */
@media (max-width: 766px) {
  div.block-views-blockevent-contact-details-block-1 {
    padding-top: 1px;
  }
}

/* Articles */
.lalg-gallery-images .lalg-gallery-image {
  display: inline;
}
.lalg-gallery-images .lalg-gallery-image a img {
  margin-bottom: 12px;
}

.field--type-image,
.field--type-file {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fcfcfa;
}

.field--type-image summary,
.field--type-file summary {
  display: list-item;
  padding: 0.95em 1.45em;
}

.field--type-image .js-form-type-managed-file,
.field--type-file .js-form-type-managed-file {
  padding: 0 1.5em 1em 1.5em;
}

/* Group Member Tab */
.groups-group-members tbody .views-field-dropbutton,
.groups-group-members tbody .views-field-dropbutton div {
  background-color: inherit;
}

.views-field-group-roles ul {
  list-style-type: none;
}

.block-local-actions-block {
  margin-top: 10px;
  list-style-type: none;
}


/* Random image */
div.lalg-random-image img {
  max-height: 200px;
}

/* Event page */
div.event-contact-title-and-text>div:not(.event-contact-text)  {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
}  
article.node--type-event {
  padding-left: 0px;
}  
body.page-node-type-event div.lalg-view-event-date div.field-content {
  margin-bottom: 20px;
}  
body.page-node-type-event div.block-page-title-block h1 {
    font-size: 24px;
    font-weight: bold;
}  

/* Editors Notes */
div.block-views-blockeditor-s-notes-block-1 {
	clear: both;
    background-color: #ffff0096;
    margin-left: 15px;
    padding-left: 15px;
}
div.block-views-blockeditor-s-notes-block-1 > h2 {
	padding-top: 6px;
}

/* Group edit changes */
form.group-group-edit-form div.field--name-field-description div[data-drupal-selector="edit-field-description-0-format-help"],
form.group-group-edit-form div.field--name-field-contact-details div[data-drupal-selector="edit-field-contact-details-0-format-help"] {
	float: right;
}
form.group-group-edit-form div.field--name-field-description div.form-item-field-description-0-value {
	border: 1px solid grey;
    border-bottom: 0px;
    padding: 16px 10px 15px 10px;
	margin-bottom: 0px
}	
form.group-group-edit-form div.field--name-field-description div[data-drupal-selector="edit-field-description-0-format"] {
    border: 1px solid grey;
    padding: 0px 10px 0px 20px;
    margin-bottom: 10px;
	border-top-color: lightgray;
}	
form.group-group-edit-form div.field--name-field-description div[data-drupal-selector="edit-field-description-0-format"] div[data-drupal-selector="edit-field-description-0-format-help"] {
    padding-top: 20px;
}
form.group-group-edit-form div.field--name-field-description div[data-drupal-selector="edit-field-description-0"] {	
	margin-bottom: 30px;
}	

form.group-group-edit-form div.field--name-field-contact-details {
    /* background-color: #f8f8f8; */
    padding: 10px 0px;
    margin-bottom: 30px;
    border: 1px solid grey;
}	
form.group-group-edit-form div.field--name-field-contact-details div.form-item-field-contact-details-0-value {
	padding: 0px 15px 15px 15px;
    border-bottom: 1px solid lightgrey;
}	
form.group-group-edit-form div.field--name-field-contact-details div.form-item-field-contact-details-0-value label {
	display: block;
}	
form.group-group-edit-form div.field--name-field-contact-details div[data-drupal-selector="edit-field-contact-details-0-format"] {
    padding: 0px 15px;
}

form.group-group-edit-form div.field--name-field-editor-s-notes div.form-item-field-editor-s-notes-0-value label,	
form.group-group-edit-form div.field--name-label div.form-item-label-0-value label,	
form.group-group-edit-form div.field--name-field-group-icon div.form-item-field-group-icon-0 label,	
form.group-group-edit-form div.field--name-field-group-type div.form-item-field-group-type label,	
form.group-group-edit-form div.field--name-field-description div.form-item-field-description-0-summary label,	
form.group-group-edit-form div.field--name-field-description div.form-item-field-description-0-value label,
form.group-group-edit-form div.field--name-field-contact-details div.form-item-field-contact-details-0-value label,
form.group-group-edit-form div.field--name-field-downloads summary {
	font-size: 1.2em;
}	

form.group-group-edit-form div.field--name-field-editor-s-notes,
form.group-group-edit-form div.form-item-label-0-value,
form.group-group-edit-form div.field--name-field-group-icon,
form.group-group-edit-form div.field--name-field-group-type,
form.group-group-edit-form div.field--name-field-description {
	margin-top: 30px;
}	

/* Group members */
div.groups-group-members td.views-field-dropbutton div.dropbutton-multiple.open div.dropbutton-widget {
	background-color: white;
}	
div.groups-group-members td.views-field-dropbutton div.dropbutton-multiple div.dropbutton-widget li.view-group-content,
div.groups-group-members td.views-field-dropbutton div.dropbutton-multiple div.dropbutton-widget li.edit-group-content,
div.groups-group-members td.views-field-dropbutton div.dropbutton-multiple div.dropbutton-widget li.delete-group-content {
	padding: 0.3em;
}

/* Articles - show larger images */
body.page-node-type-article div#colorbox div#cboxTitle {
	color: black;
	font-size: 1.3em;	
}
/* Move events block to main region on mobiles as otherwise too far down to scroll */
@media (min-width: 992px) {
	div.lalg-group-events-content-region {
		display: none;
	}
}
@media (max-width: 992px) {
	div.lalg-group-events-right-sidebar-region {
		display: none;
	}
	div.block-views-blockgroup-membership-block-1 h2,
	div.block-views-blockgroup-display-block-2 h2,
	div.block-views-blockgroup-display-lalg-article-jump h2,
	div.block-views-blockgroup-display-block-1 h2,
	div.block-views-blockcontact-details-block-1 h2 {
		padding-right: 16px;
		width: 100%;
	}	
}

/* articles index */
div.lalg-view-group-articles {
	display: flex;
	flex-direction: column;
}
div.lalg-view-group-articles > header {
	order: 2;
	padding-bottom: 25px;
}
div.lalg-view-group-articles > form {
	order: 1;
}
div.lalg-view-group-articles > div.views-row {
	order: 3;
}
