/***********  Styling for User-facing Membership Pages  ************/

/***********  Administer Contact Details Button styling  **************/

fieldset.lalg-memb-delete-button legend {
  border-bottom: 0px
}
fieldset.lalg-memb-delete-button .webform-custom-options-buttons {
  justify-content: flex-end;
}
fieldset.lalg-memb-delete-button .webform-custom-options-button {
  max-width: 200px;  
  color: white;
  width: 200px;
  margin-right: 20px;
}
span.deleted-notice {
  color: red;
  font-size: 1.4em;
  margin-left: 2em;
  line-height: 1.5em;
}

/***********  General, for all affected Pages  **************/

.lalg-memb-wf {
	font-size: 1.1em;
}

/************  Webform General  ***********/

form.lalg-memb-wf .lalg-memb-hidden {
	display: none;
}

form.lalg-memb-wf .lalg-memb-short {
	width: 150px;
}
form.lalg-memb-wf .lalg-memb-medium {
	width: 300px;
	max-width: 95%;
}
form.lalg-memb-wf .lalg-memb-long {
	width: 450px;
	max-width: 95%;
}
@media (max-width: 500px) {
	form.lalg-memb-wf .lalg-memb-long {
        width: 95%;
	}	
}
form.lalg-memb-wf .lalg-memb-vlong {
	width: 600px;
	max-width: 95%;
}

form.lalg-memb-wf input,
form.lalg-memb-wf select {
	padding: 5px 9px;
}

/************  Webform Fields  ***********/


/* reduce margins */
form.lalg-memb-wf ul.webform-progress-tracker { margin: 20px auto 0px; }
form.lalg-memb-wf input.js-form-submit { margin: 10px auto; }


form.webform-submission-manage-organisations-form fieldset.lalg-grey-background, 
form.lalg-memb-wf fieldset.lalg-grey-background {
    background-color: #0f0f0f05;
    margin-top: -30px;
    padding-left: 20px;
}


form.webform-submission-manage-organisations-form fieldset.lalg-grey-background > legend, 
form.lalg-memb-wf fieldset.lalg-grey-background > legend {
    padding-top: 50px;
}

/* Get rid of horizontal line */
form.webform-submission-manage-organisations-form legend  {
   border-bottom: none;
}

/* Give fixed space to the labels, otherwise the input boxes won't be alligned, plus other styling */
form.webform-submission-manage-organisations-form label,
form.lalg-memb-wf    label  {
	width: 180px;
	/* font-size: 1.1em; */
	font-family: verdana;
}

/* Buttons */
form.webform-submission-manage-organisations-form input[type="submit"],
form.lalg-memb-wf    input[type="submit"] {
	background-color: #89dd89;
	background-image: none;
	/* margin-top: 25px; */
	/* margin-bottom: 20px; */
	font-size: 1.5em;
	padding: 10px 30px;
}
form.webform-submission-manage-organisations-form input[type="submit"] {
  margin-bottom: 50px;
}

form.lalg-memb-wf  input[type="submit"].webform-button--previous {
	background-color: #cdf3ce;
	margin-right: 20px;
}

/* Links in Membership Details help text */
form.lalg-memb-wf fieldset#edit-civicrm-2-contact-1-cg8-fieldset a {
	font-size: 1em;
}

/* page 2 collapsed links */
form.lalg-memb-wf details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 .5em 0 20px;
    background-color: #0f0f0f05;
    margin-bottom: 15px;
}

form.lalg-memb-wf summary {
   font-size: 21px;
   padding-bottom: .5em;
   display: list-item;
}

 
/* Payment Page adjustments */
form.lalg-memb-wf div.lalg-memb-card-prompt img {
	height: 40px;
}

form.lalg-memb-wf div.lalg-memb-wait-prompt img {
	height: 60px;
}

form.lalg-memb-wf div.lalg-memb-card-prompt p,
form.lalg-memb-wf div.lalg-memb-wait-prompt p{
	font-size: 1.0em;
}

/* Reorder fields on the Payment page. */
form#webform-submission-administer-contact-details-add-form.lalg-memb-wf,
form#webform-submission-user-contact-details-add-form.lalg-memb-wf {
	display: grid;
	
}

form.lalg-memb-wf div#edit-contribution-pagebreak--2 {
	grid-row: 6;
}

form.lalg-memb-wf div#edit-contribution-pagebreak--2 ~ div#edit-actions {
	grid-row: 7;
}

/* - commented out so that membership number is inline, and box is grey background
form.lalg-memb-wf input.lalg-memb-id {
	display: block;
	background-color: #ffffff;
}
*/

/* Removed lalg-view-findcontacts styling as now in lalg-global and applies to all tables (TJS 27/07/21) */

/* table at bottom of join or renew page was too close to the footer */
article.node--type-static table {
  margin-bottom: 50px;
}  

/* Find contacts form */
div.lalg-view-findcontacts form.views-exposed-form input {
    width: 140px;
}

div.lalg-view-findcontacts table a {
	font-size: 1em;
}