.block-views-blocklanding-page-civicrm-contact-block-3,
.block-views-blocklanding-page-civicrm-contact-block-1, 
.block-views-blocklanding-page-civicrm-contact-block-2 {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
}

.block-views-blocklanding-page-civicrm-contact-block-3,
.block-views-blocklanding-page-civicrm-contact-block-1 {
  padding-right: 30px;
}

.block-views-blocklanding-page-civicrm-contact-block-1 time {
  font-size: 1em;
}

.lalg-view-landing-page-household header,
.lalg-view-landing-page-household p,
.lalg-view-landing-page-household .views-row {
  display: inline;
}

.lalg-view-landing-page-household p {
  margin-bottom: 0;
}

.lalg-view-landing-page-household .views-row span {
  font-size: 1.2em;
}

.lalg-view-landing-page-household .views-row span.field-content::after {
  content: ", ";
}

.lalg-view-landing-page-household .views-row-last span.field-content::after {
  content: "";
}

.block-views-blocklanding-page-personalised-content-block-2 .views-row {
  border-bottom: 1px dotted grey;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.block-views-blocklanding-page-personalised-content-block-2 .views-row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.lalg-view-landing-page-user span.views-field-display-name,
.lalg-view-landing-page-user div.views-field-name,
.lalg-view-landing-page-user div.views-field-mail,
.lalg-view-landing-page-user div.views-field-roles-target-id {
	font-size: 1.3em;
	line-height: 135%;
}

.lalg-view-landing-page-membership div.views-field-id, 
.lalg-view-landing-page-membership div.views-field-membership-type-id,
.lalg-view-landing-page-membership div.views-field-membership-status-31,
.lalg-view-landing-page-membership div.views-field-end-date { 
	font-size: 1.3em;
	line-height: 135%;
}